SharedOutput/
*_clone_*
NIGHTRAVEL.Shared/Interfaces.meta
NIGHTRAVEL.Shared/Interfaces/Model.meta
NIGHTRAVEL.Shared/Interfaces/Services.meta
NIGHTRAVEL.Shared/Interfaces/StreamingHubs.meta
NIGHTRAVEL.Shared/Interfaces/StreamingHubs/IRoomHub.cs.meta
NIGHTRAVEL.Shared/Interfaces/StreamingHubs/IRoomHubReceiver.cs.meta
NIGHTRAVEL.Shared/Interfaces/StreamingHubs/JoinedUser.cs.meta
Client/Build.zip
